 * {
     font-family: "Inter", sans-serif;
 }

 .setColor {
     background-color: rgb(2, 142, 2);
     color: white;
 }

 /* For all tree */
 .allTreeInfo {
     padding: 1rem;
     width: 100%;
     border-radius: 1rem;
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 /* Your card */
 .cardCss {
     border-radius: 8px;
     background-color: rgba(240, 253, 244, 1);
     display: flex;
     width: 100%;
     margin-top: 1rem;
     align-items: center;
     padding-left: 12px;
     padding-right: 12px;
     padding-top: 8px;
     padding-bottom: 8px;
     justify-content: space-between;
 }

 .totalCss {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }